.gitignore
.idea
.dockerignore
copy_to_vps.sh
vps_copy_db.sh
test.py
exclude_file.txt
py_log.log
requirements.txt
parser_start_sync.py
systemd.txt
database/__pycache__
parser/__pycache__
database/ER
database/sql_query
database/vps_copy_db
database/stargaze_analytics.db
database/.$db_er_diagram.drawio.bkp
database/user*
handlers/
keyboard/
lexicon/
parser/parsing_sync.py
usefultools/